* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: rgb(151, 224, 237);
}

body {
  line-height: 1.5;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

form {
  width: 700px;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

fieldset {
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
legend {
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
